# Logging
TLN_LOG_FORMAT=text
TLN_LOG_LEVEL=info

# Server
TLN_CONTROL_ADDR=127.0.0.1:7000
TLN_TLS_CERT_FILE=certs/server.crt
TLN_TLS_KEY_FILE=certs/server.key

# Client
TLN_SERVER_ADDR=127.0.0.1:7000
TLN_SERVER_NAME=localhost
TLN_CA_FILE=certs/ca.crt